.list {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 48px 0;
  color: #cacaca8e;
}

.list li {
  display: flex;
  width: 386px;
  cursor: pointer;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.gameWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(82, 82, 82, 0.25);
}

.list li:last-of-type .game-wrapper {
  border: none;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.active .contentWrapper {
  padding: 0;
}

.gameTitle {
  font-size: 14px;
  font-weight: 500;
}

.gameDescription {
  font-size: 14px;
  color: #b8b8b6;
}

.button {
  border-radius: 9999px;
  background: rgba(39, 54, 84, 0.6);
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  color: #cacaca8e;
}

.active {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 40;
}

.active .inner {
  display: flex;
  height: fit-content;
  width: 500px;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  overflow: hidden;
  background: rgb(180, 180, 180);
  padding: 16px;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.headerInner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.longDescription {
  font-size: 14px;
  color: #63635d;
}

.overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.25);
}

.pageWrapper {
  padding: 15rem 4rem 0 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
